/*!
 * Custom Styles - Edinburgh Map
 */

/* Z-index tracker:
Top bar: 3
Menu box: 1
Favourites box: 1
*/

/* ======== CSS Reset ======== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======== General styles ======== */

html,
body,
input {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	color: #252525;
}

hr {
	clear: both; /* hr always acts as separator */
}

.hidden { /* for hiding divs, loading time etc */
	display: none;
}

/* ======== Top bar ======== */

.top-bar {
	height: 48px;
	width: auto;
	background-color: white;
	box-shadow: 0 5px 5px #888888;
	z-index: 3;
	position: relative;
}

.top-bar > .fa-bars { /* Hamburger icon */
	font-size: 40px;
	padding: 4px 4px 4px 10px;
}

.top-bar > .fa-star { /* Star/favourites icon */
	font-size: 36px;
	padding: 4px 4px 4px 10px;
}

.top-bar > .fa-twitter { /* Star/favourites icon */
	font-size: 40px;
	padding: 4px 4px 4px 10px;
}

.top-bar > .fa:hover {
	cursor: pointer;
	color: #686868;
}

.map { /* Main map container */
  height: 100%;
  max-height: calc(100vh - 48px); /* Less height of top bar */
}

.search-container { /* div containing search bar */
	float: right;
	padding: 8px 12px;
}

.main-search {
	border-radius: 10px;
	height: 30px;
	width: 220px;
	outline: none;
	padding: 0px 28px 0px 10px;
}

.search-container .icon { /* Magnifying glass symbol */
  position: absolute;
  right: 22px;
  top: 14px;
  color: #4f5b66;
}

.search-container .icon:hover { /* Magnifying glass symbol */
	cursor: pointer;
	color: #686868;
}

.clear-markers {
	float: right;
	font-size: 10px;
	padding: 8px 0;
	max-width: 55px;
	text-align: center;
}
.clear-markers:hover {
	cursor: pointer;
}

.clear-markers p {
	border: 1px #4f5b66 solid;
	border-radius: 10px;
	padding: 3px;
	box-shadow: 2px 2px 3px #888888;
	background-color: white;
}
.clear-markers p:hover {
	background-color: #E8E8E8;
}


/* Remove delete button from search box
Credit: http://geektnt.com/how-to-remove-x-from-search-input-field-on-chrome-and-ie.html
*/

/* Small screens */

@media (max-width: 600px) {
	#search {
		width: 180px;
	}

	.clear-markers {
		position: absolute;
		top: 46px;
		right: 5px;
	}

}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; } /* Remove delete button from search box */
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* ======== Info Window content ======== */

.info-content * {
	padding: 5px;
	margin: 0;
}

.info-content a { /* Links: full review and map link */
	color: #252525;
	text-decoration: none;
	padding: 0 0 0 10px;
	text-decoration: underline;

}
.info-content a:hover {
	color: #686868;
}

.info-content h4 {
	font-size: 24px;
	font-weight: 700;
	float: left;
	max-width: 75%;
}

.info-content > .info-copy {
	clear: both;
}

.info-content .info-photo {
	float: left;
	width: 100px; /* All image sizes pre-set to avoid ugly rendering */
	height: auto;
}

.info-content .info-rating {
	max-width: 120px;
	padding: 8px 0 5px 10px;
	width: 120px;
	height: auto;
}

.info-content .info-yelp {
	max-width: 120px;
	padding: 8px 0 0 10px;
	width: 120px;
	height: auto;
}


.info-content > .fa-star {
	font-size: 28px;
	float: right;
	margin: 8px 0 4px 0;
	color: black;
}

.info-content > .fa-star:hover {
	cursor: pointer;
	color: #686868;
}

.info-content> .twitter-name {
	font-size: 20px;
}

.info-content> .twitter-image {
	float: right;
}

.info-content> .twitter-copy {
	clear: both;
}

@media (max-width: 600px) {
	.info-content h4 {
		font-size: 16px;
	}

	.info-content p {
		font-size: 11px;
	}

	.info-content a {
		font-size: 12px;
	}

	.info-content .fa-star {
		font-size: 22px;
		margin: 0;
	}

	.info-content .info-rating {
		width: 90px;
	}

	.info-content .info-yelp {
		width: 90px;
	}
}

/* ======== Star colour changer - both infoWindow and menu ======== */

.star-yellow {
	color: yellow !important; /* override default colour */
}
.star-yellow:hover  {
	color: #FFFF83 !important;
}

/* ======== Drop down interface ======== */

.interface-container {
	position: absolute;
	top: -480px; /* Hide off-screen initially */
}

.search-loading {
	text-align: center;
	font-size: 84px;
	width: 100%;
	padding: 100px 0;
}

.menu { /* deliberately delcared as ID a) for jQuery selectors b) to override other classes */
	z-index: 1;
	position: relative;
	background-color: white;
	margin: 0;
	width: 200px;
	min-height: 400px;
	max-height: 500px;
	overflow: auto;
	box-shadow: 0 5px 5px #888888;
	padding: 10px 25px;
}

.favourites {
	z-index: 2;
	position: relative;
	background-color: white;
	margin: 0;
	width: 200px;
	min-height: 400px;
	max-height: 500px;
	overflow: auto;
	box-shadow: 0 5px 5px #888888;
	padding: 10px 25px;
	left: 60px;
}

.menu-heading {
	font-weight: 700;
	margin: 16px 0 16px 0;
	float: left;
}

.menu-bar {
	clear: both;
}

.menu-visible > .fa-filter { /* Filter icon - favourites only */
	font-size: 28px;
	float: right;
	padding: 10px;
}
.menu-visible > .fa-filter:hover {
	cursor: pointer;
	color: #686868;
}

.place-container > .place-name {
	float: left;
	clear: left; /* Stops multuiple entries on same line */
	max-width: 160px;
	font-size: 16px;
	margin: 10px 0 10px 0;
}

.place-container > .place-name:hover {
	text-decoration: underline;
	cursor: pointer;
}

.place-container > .fa-star {
	font-size: 19px;
	float: right;
	padding: 10px 0 0 0;
}
.place-container > .fa-star:hover {
	cursor: pointer;
	color: #686868;
}

.filter-search {
	border-radius: 10px;
	height: 30px;
	width: auto;
	outline: none;
	padding: 0px 28px 0px 10px;
}

@media (max-width: 600px) {
	.menu-heading {
		font-size: 15px;
		font-weight: 700;
		margin: 10px 0;
		float: left;
	}

	.menu-visible > .fa-filter { /* Filter icon - favourites only */
		font-size: 20px;
		padding: 10px 0;
	}

	.filter-search {
		width: 145px;
	}

	.menu {
		min-height: 300px;
		max-height: 360px;
		width: 160px;
	}

	.favourites {
		min-height: 300px;
		max-height: 360px;
		left: 40px;
		width: 160px;
	}

	.place-container > .place-name {
		max-width: 130px;
		font-size: 13px;
	}

}

/* ======== Crosses in favourites ======== */

.place-container > .fa-times {
	font-size: 19px;
	float: right;
	padding: 8px 0 0 0;
}
.place-container > .fa-times:hover {
	cursor: pointer;
	color: red;
}

/* ======== Error handling ======== */

.error-handler {
	top: 100px;
	text-align: center;
	position: absolute;
	display: none;
	margin: 0 auto;
	width: 100%;
}

.error-handler h4 {
	font-weight: 700;
}

.show-error {
	display: block !important; /* TODO - better to do this via knockout style binding? avoids !important class */
}

/* ======== Scrolling menu animations ======== */

.animating #menu, .menu-visible #menu {
	display: block;
	visibility: visible;
}

.animating {
	transition: transform .25s ease-in-out;
	-webkit-transition: -webkit-transform .25s ease-in-out;
}

.animating.top {
	transform: translate3d( 0, 528px, 0 );
	-webkit-transform: translate3d( 0, 528px, 0 );
}

.animating.bottom {
	transform: translate3d( 0, -528px, 0 );
	-webkit-transform: translate3d( 0, -528px, 0 );
}

.menu-visible {
	position: absolute;
	top: 528px;
}
