
/*!
 * Custom Styles - Edinburgh Map
 */

/* Z-index tracker:

Top bar: 3
Menu box: 1
Favourites box: 1


*/


html, body, input {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	color: #252525;
	}

/* Top nav/search bar */

.top-bar {
	height: 48px;
	width: auto;
	background-color: white;
	box-shadow: 0 5px 5px #888888;
	z-index: 3;
	position: relative;
}

.top-bar > .fa-bars { /* Hamburger icon */
	font-size: 40px;
	margin: 4px 4px 4px 10px;
}

.top-bar > .fa-bars:hover {
	cursor: pointer;
	color: #686868;
}

.top-bar > .fa-star { /* Hamburger icon */
	font-size: 36px;
	margin: 4px 4px 4px 10px;
}

.top-bar > .fa-star:hover {
	cursor: pointer;	
	color: #686868;

}

#map {
  height: 100%;
  max-height: calc(100vh - 48px); /* Less height of top bar */
  clear: both; /* Nothing can float around the map */
}

.search-container {
	float: right;
	padding: 8px 12px;
	text-align: right;
}

#search {
	border-radius: 10px;
	height: 30px;
	width: 200px;
	outline: none;
	padding: 10px;
	padding-right: 28px;
}

.search-container .icon { /* Magnifying glass symbol */
  position: absolute;
  right: 22px;
  top: 14px;
  color: #4f5b66;
}

.search-container .icon:hover { /* Magnifying glass symbol */
	cursor: pointer;
}

/* Remove delete button from search box
Credit: http://geektnt.com/how-to-remove-x-from-search-input-field-on-chrome-and-ie.html
*/

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; } /* Remove delete button from search box */
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* Style infoWindow content */

.info-content * {
	padding: 5px;
	margin: 0;
}

.info-content h4 {
	font-size: 24px;
}

.info-content .info-photo {
	float: left;
	width: 100px; /* All image sizes pre-set to avoid ugly rendering */
	height: 100px;
}

.info-content .info-rating {
	max-width: 120px;
	padding: 0 0 0 10px;
	width: 120px;
	height: 22px;
}

.info-content .info-yelp {
	max-width: 120px;
	padding: 0 0 0 10px;
	width: 120px;
	height: 28px;
}

.info-content a {
	font-size: 11px;
	color: #252525;
	text-decoration: none;
	padding: 0 0 0 10px;
}

.info-content a:hover {
	color: #252525;
	text-decoration: underline;
}

/* For scrolling menu itself */

.menu-container {
	position: absolute;
	top: -480px; /* Hide off-screen initially */
}

#menu {
	z-index: 1;
	position: relative;
	background-color: white;
	margin: 0;
	width: 200px;
	height: 480px;
	overflow: hidden;
	box-shadow: 0 5px 5px #888888;
	padding: 10px 25px;
}

#favourites {
	z-index: 2;
	position: relative;
	background-color: white;
	margin: 0;
	width: 200px;
	height: 480px;
	max-height: 480px;
	overflow: hidden;
	box-shadow: 0 5px 5px #888888;
	padding: 10px 25px;
	left: 60px;
}	


.menu-heading {
	font-weight: 700;
}

.place-container {
	height: auto;
}

.place-container > .place-name {
	float: left;
	max-width: 170px;
	font-size: 16px;
	margin: 10px 0 10px 0;

}

.place-container > .place-name:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Stars - menu */

.place-container > .fa-star {
	font-size: 19px;
	float: right;
	margin: 10px 0 10px 0;
}

.place-container > .fa-star:hover {
	cursor: pointer;
}

.star-black {
	color: black;
}
.star-black:hover {
	color: #DADADA;
}

.star-yellow {
	color: yellow;
}
.star-yellow:hover {
	color: #FFFF83;
}

/* Stars - infoWindow */

.info-content > h4 {
	float: left;
	max-width: 75%;
}

.info-content > .info-copy {
	clear: both;
}

.info-content > .fa-star {
	font-size: 28px;
	float: right;
	margin: 8px 0 4px 0;
}

.info-content > .fa-star:hover {
	cursor: pointer;
}

.info-star {
	color: black;
}
.info-star:hover {
	color: #686868;
}

.star-yellow {
	color: yellow;
}
.star-yellow:hover {
	color: #686868;
}


/* For scrolling manu animations
Mechanics in main.js 
*/

.animating #menu, .menu-visible #menu {
	display: block;
	visibility: visible;
}

.animating {
	transition: transform .25s ease-in-out;
	-webkit-transition: -webkit-transform .25s ease-in-out;
}

.animating.top {
	transform: translate3d( 0, 528px, 0 );
	-webkit-transform: translate3d( 0, 528px, 0 );
}

.animating.bottom {
	transform: translate3d( 0, -528px, 0 );
	-webkit-transform: translate3d( 0, -528px, 0 );
}

.menu-visible {
	position: absolute;
	top: 528px;
}

.favourites-temp { /* TODO - remove */
	float: right;
	position: absolute;
	z-index: 3;
	right: 40px;
	top: 50px;

}